* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f9f9f9
}

.header {
    display: flex;
    width: 60%;
    height: 200px;
    margin: auto auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 60%;
    height: 200px;
    text-align: center;
}

.cabecalho h2 {
    font-size: 14px;
    color: rgba(25,113,194,255);
    margin-bottom: 0;
}

.cabecalho p {
    margin-top: 7px;
    font-size: 36px;
    font-weight: bold;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
    height: 390px;
}

.main div {
    width: 280px;
    background: rgba(255,255,255,255);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 50px;
}

.cards h2 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.cards p {
    margin-top: 0;
    margin-left: 10px;
}

.footer {
    margin-top: 100px;
    background: rgba(255,255,255,255);
    height: 50px;
}